body {
    padding: .5rem;
}

.cflex_col {
    display: flex;
    flex-direction: column;
}

.cflex_row {
    display: flex;
    flex-direction: row;
}

.cflex_ai_start {
    align-items: flex-start;
}

.cflex_ai_center {
    align-items: center;
}

.cflex_jc_center {
    justify-content: center;
}

.cflex_jc_around {
    justify-content: space-around;
}

.cflex_jc_start {
    justify-content: flex-start;
}

.cflex_jc_end {
    justify-content: flex-end;
}

.cflex_jc_between {
    justify-content: space-between;
}

.sidenav_item {
    font-size: 20px;
}

.sidenav_item:hover {
    background-color: #dbdbdb;
}

.sidenav_icon {
    color: gray;
    margin-left: 20px;
    margin-right: 10px;
}

.sidenav_btn {
    margin: 5px;
}

.search_input {
    margin-right: 10px !important;
    margin-left: 10px !important;
    height: 35px !important;
}

.pagination_txt {
    margin-right: 10px;
    margin-left: 10px;
}

.modal {
    width: 90vw;
    max-height: 87.5vh;
    overflow: scroll;
}

.modal .modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal .modal-content h4 {
    padding: 0;
    margin: 0;
}

.modal .modal-content h5 {
    margin-top: .25rem;
}

.modal .modal-content .back_btn {
    margin-top: 1rem;
}

.modal .modal_image {
    width: 100%;
    max-height: 50%;
}

.card_container {
    width: 90%;
}

.pagination_btn:hover {
    background-color: #9e9e9e;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
}