.cflex_col {
    display: flex;
    flex-direction: column;
}

.cflex_row {
    display: flex;
    flex-direction: row;
}

.cflex_ai_start {
    align-items: flex-start;
}

.cflex_ai_center {
    align-items: center;
}

.cflex_jc_center {
    justify-content: center;
}

.cflex_jc_around {
    justify-content: space-around;
}

.cflex_jc_start {
    justify-content: flex-start;
}

.cflex_jc_end {
    justify-content: flex-end;
}

.cflex_jc_between {
    justify-content: space-between;
}

.sidenav_item {
    font-size: 20px;
}

.sidenav_item:hover {
    background-color: #dbdbdb;
}

.sidenav_icon {
    color: gray;
    margin-left: 20px;
    margin-right: 10px;
}

.sidenav_btn {
    background-color: gray;
    margin: 5px;
}

.sidenav_btn:hover {
    background-color: #9e9e9e;
}

.search_input {
    margin-right: 10px !important;
    margin-left: 10px !important;
    height: 35px !important;
}

.search_btn {
    background-color: gray;
}

.search_btn:hover {
    background-color: #9e9e9e;
}

.pagination_txt {
    margin-right: 10px;
    margin-left: 10px;
}

.pagination_btn {
    background-color: gray;
}

.pagination_btn:hover {
    background-color: #9e9e9e;
}